
/*body section design starts here*/
/*Global Framework*/

a:hover{
  text-decoration: none;
  color: rgba(40,189,147,1);
  transition: all 0.3s ease-in;
}
a span{
  transition: all 0.2s ease-in;
}
a:hover span{
  padding-left: 3px;
  transition: all 0.2s ease-in;
}
a{
  font-weight: 700;
  color: rgba(0,189,147,1);
  transition: all 0.3s ease-in;
}
.green-btn{
  background-color: rgba(40,189,147,1);
  border-radius: 2px;
  color: white;
  padding:12px 24px;
  transition: all 0.2s ease-in;
  margin-top: 12px;
  font-weight: 700;
}
.green-btn:hover{
  background-color: rgba(0,189,147,1);
  border-radius: 2px;
  color: white;
  padding:12px 24px;
  transition: all 0.2s ease-in;
}
p{
  color: rgba(102,102,102,1);
  font-size: 1.3em;
  line-height: 1.6em;
}
.text-bottom-border{
  color: rgba(0,189,147,1);
  border-bottom: 2px solid rgba(0,189,147,1);
}

body{
  font-family:Lato,"Catamaran",Roboto,sans-serif;
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5{
  color: rgba(54,54,54,1);
}
.cute-margin-top{
  margin-top: 30px;
}
.brand-btn{
  background-color: rgba(40,189,147,1);
  color: rgba(255,255,255,1);
  border-radius: 2px;
}
.brand-btn:hover{
  background-color: rgba(0,189,147,1);
  color: rgba(255,255,255,1);
}
.btn{
  border: none;
}
.btn:focus {
  outline:0;
}
.cute-section-header-text{
  color: rgba(85,85,85,1);
  line-height: 1.6em;
  font-weight: 400;
}
.border-line{
  width: 72px;
  border-bottom: 1px solid rgba(40,189,147,1);
  margin:30px auto 40px auto;
}
.center-block{
  float: none;
}
/*navbar toggle animation starts here*/
.navbar-toggle {
  overflow: hidden;
}

.navbar-toggle .icon-bar {
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: opacity, transform;
  transition: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
          transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}

/*navbar toggle animation ends here*/
/*Navbar sections Designs starts here*/

.navbar-default{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
}
.navbar-toggle{
  border: none;
}
.navbar-default .navbar-nav > li > a{
  color:rgba(0,0,0,.7);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
  color: rgba(40,189,147,1) !important;
  transition: all 0.3s ease-in;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:rgba(40,189,147,1);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active{
  background-color: transparent;

}

#navbar-menu-list{
  font-size: 14px;
  transition: all 0.3s ease-in;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;

}
.navbar-brand img{
  height: 32px;
}
.sign-up-button {
  font-weight: bold;
  transition: all 0.2s ease-in;
  border-radius:2px;
  border: 1px solid rgba(40,189,147,1);

}
.sign-up-button:hover{
  border: 1px solid rgba(0,0,0,.0);
  color: rgba(255,255,255,1) ;
  transition: all 0.2s ease-in;
  background-color: rgba(40,189,147,1);
}

/*header video container design starts here*/
.header-video-container{
  height: 520px;
  position: relative;
  overflow: hidden;
  display: flex;

  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,1);
}

.jumbotron-container{
  display: flex;
  padding:16px 0;
  align-items: center;
  align-self: center;
}
.hero-content .hero-head-text{
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: 900;
  color: rgba(50,50,50,1);
}

.input-get-start-btn{
  height: 58px;
  border-radius: 2px;
  align-items: center;
  color: white;
  background-color: rgba(40,189,147,1);
  transition: all 0.2s ease-in;
  /* submit-btn: */
  box-shadow: 0 16px 18px 0 rgba(0,0,0,0.13), 0 4px 6px 0 rgba(0,0,0,0.16);

}
.input-group-btn:active {
  background-color: rgba(0,170,140,1);
  color: white;
  box-shadow: none;
  outline: none;
}
.input-get-start-btn:hover,  .input-get-start-btn:focus {
  color: white;
  background-color: rgba(0,170,140,1);
  transition: all 0.2s ease-in;
}
.form-control{
  border: 1px solid rgba(85,85,85,0.6);
  background-color: rgba(250,250,250,1);
  transition: all 0.2s ease-in;
}
.form-control:focus {
  border-color: rgba(0,170,140,1);
  transition: all 0.2s ease-in;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0), 0 0 8px rgba(255, 0, 0, 0);
}
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  height: 58px;
  border-radius: 2px;
}
.hero-input-container{
  margin-top: 24px;
}
.jumbotron-container p{
  margin-top: 12px;
  color: rgba(100,100,100,1);
  font-weight: 400;
}
.hero-input-info-text{
  color: rgba(100,100,100,1);
}

  /*###Hero Logo Container Designs Here###*/
.hero-logo-container{
  background-color: rgba(245,245,245,1);
  padding:24px 0;
}
/*****#######Features Container Styles Starts Here######*******/
.feature-section-container{
  margin-top: 80px;
  text-align: center;
}

.feature-lists{
  text-align: left;
  margin-top: 48px;
}
.feature-lists h4{
  font-weight: 700;
}
.feature-list-content{
  margin-bottom: 40px;
  transition: all .3s ease-in;
}
.feature-list-icon{
  height: 56px;
  margin-bottom: 24px;
}
.feature-list-hero-image-content{
  position: absolute;
}
.feature-hero-image-1{
  position: relative;
  top: 110px;
}

/*****#######Stats Container Style######*******/
.stats-container{
  background-color: rgba(44,120,204,1);
  text-align: center;
}
.stats-container h2{
  color: rgba(255,255,255,1);
  font-weight: 900;
}
.stats-container h4{
  color: rgba(255,255,255,.9);
  font-weight: 400;
}
.stats-container p{
  color: rgba(255,255,255,.7);
  font-weight: 400;
  font-size: 1.2em;
}
.stats-column-1{
  background-color: rgba(44,120,204,1);
  padding: 30px 30px;
}
.stats-column-2{
  background-color: rgba(40,111,189,1);
  padding: 30px 30px;
}
.stats-column-3{
  background-color: rgba(44,120,204,1);
  padding: 30px  30px;
}
/*****#######Benefits Section Container Style######*******/
.benefits-container{
  margin-top: 48px;
}
.benefits-content-row{
  padding:56px 0;
}
.benefits-transactional-row{
  border-top: 1px solid rgba(85,85,85,0.2);
}
.benefits-column-content h2{
  font-weight: 500;
  color: rgba(85,85,85,1);
}

/*Testimonial Container Style===========
========================================*/
/*Testimonial Carousel*/
/* carousel */

.media-carousel{

  margin-bottom: 0;
  padding: 0 24px 16px 24px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -12px !important;
}
/* Next button  */
.media-carousel .carousel-control{
  background-image: none;
  background: none repeat scroll 0 0 ;
  color: rgba(140,140,140,1);
  height: 40px;
  width : 40px;
  margin-top: 160px
}
.media-carousel .carousel-control span{
  font-size: 1em;
}
.media-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}


/* End carousel */
/*Carousel Ends here*/
.testimonial-container{
  background-color: rgba(255,255,255,1);
}
.testimonial-main-content{
  margin-top: 6px;
  position: relative;
  background-color: rgba(252,252,252,1);
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}
.quote{
  color: rgba(230,230,230,1);
}
.quote-left i{
  margin-top: 24px;
}
.quote-right i{
  margin-bottom: 24px;
}
.five-star i{
  color: rgba(250,200,0,1);
  margin-right: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.testimonial-client-brief h4{
  font-size: 1.6em;
  line-height: 1.5em;
  color:rgba(102,102,102,1);
  margin-bottom: 24px;
}

.client-photo{
  display: flex;
  position:relative;
  bottom: 50px;
  align-items: center;
  justify-content: center;
}
.client-photo img{
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}
.client-details{
  margin-top: -50px;
  margin-bottom: 48px;
}
.client-details h3{
  color: rgba(102,102,102,1);
}
.client-details p{
  color:rgba(150,150,150,1);
}
.client-full-logos-row{
  background-color: rgba(250,250,250,1);
  padding:32px 0;
}
.client-full-logos-row p{
  padding-bottom:32px;
}
.client-full-logos-row img{
  opacity:0.7;
  transition: all 0.2s ease-in;
}
.client-full-logos-row img:hover{
  opacity: 1;
  transition: all 0.2s ease-in;
}
.client-logos-row{
  margin: 24px 0;
}

/*****#####Get Support Container Style******######*/
.get-support-container{
  margin-top: 24px;
}
.get-support-container p{

}
.get-support-btn{
  background-color: rgba(40,189,147,1);
  border-radius: 2px;
  color: white;
  padding:12px 24px;
  transition: all 0.2s ease-in;
  margin-top: 12px;
}
.get-support-btn:hover{
  background-color: rgba(0,189,147,1);
  border-radius: 2px;
  color: white;
  padding:12px 24px;
  transition: all 0.2s ease-in;
}
.get-support-image-column{
  margin-top:48px;
}
/*******Final Call to Action Style Here************/
.final-call-to-action-fluid-container{
  background-color: rgba(250, 250, 250, 1);
  padding: 48px 0;
}
/*****#######Footer Container Style Starts Here######*******/
.footer-fluid-container{
  background-color: rgba(245,245,245,1);
}
.footer-content-row{
  border-bottom: 1px solid rgba(150,150,150,1);
}
.footer-content-column{
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer-content-row p{
  font-size: 0.9em;
  color: rgba(105,105,105,1);
}
.footer-logo{
  margin-bottom: 24px;
}
.badge-footer-hiring{
  background-color: rgba(40,189,147,1);
  margin-left: 4px;
  color: white;
  border-radius: 2px;
  font-weight: 400;
}
.footer-social-link{
  margin-right: 24px;
  color: rgba(105,105,105,1);
}
.footer-link-header{
  font-weight: bold;
  color: rgba(105,105,105,1);
}
.footer-link{
  margin-top: 24px;
}
.footer-link a{
  color: rgba(105,105,105,1);
}
.footer-link a:hover{
  text-decoration: none;
}
.footer-copyright-link{
  margin-right: 24px;
}
.footer-copyright-row{
  padding: 24px 0 ;
}
.footer-copyright-row p{
  color: rgba(105,105,105,1);
  font-size: 0.9em;
}
.footer-copyright-row a{
  color: rgba(105,105,105,1);
  font-size: 0.9em;
}
/*****#######Mobile Device Style######*******/
@media only screen and (min-device-width : 320px) and (max-device-width : 750px) {
  /*main page*/
  /*### Hero Section ####*/
  .hero-content .hero-head-text{
    margin-top: 110px;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 600;
    color: rgba(68,68,68,1);
  }
  .hero-input-container{
    margin-top: 12px;
  }
  /*###Feature Section ###*/
  .feature-section-container{
    margin-top: 30px;
  }
  /*### Footer Section ####*/
  .footer-content-column{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  /*hire me page*/
  .hire-me-column-container{
    display:flex;
    align-items:center;
  }
  .navbar-default{
    background-color: rgba(250,250,250,1);
    text-align: center;
  }
  #navbar-menu-list  a{
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 15px;
  }
  .videos-dropdown-box li a{
    font-size: 1.2em;
    margin-top: 15px;
  }
  .header-video-container{
    height: 400px;
  }
  /***###Works Container Small Style###****/
  .more-btn{
    margin-top: -30px;
  }

/*****#######Xs Screen Style######*******/
@media only screen and (min-width : 320px) and (max-width : 767px) {

  /*hire me page*/
  .hire-me-column-container{
    display: block;
    align-items: center;
  }
  #navbar-menu-list{
    background-color: rgba(250,250,250,1);
  }
  .dropdown-menu li a{
    font-size: 1em;
    margin-top: 20px;
  }
  /*Animation Works Container*/
.cute-margin-top-xs-device{
  margin-top: 30px;
}
  /*****#####Testimonial Container Style******######*/
  .testimonial-content-alignment{
    padding-top: 15px;
    transition: all .3s ease-out;
    text-align: center;
  }
  .testimonial-logo-align{
    display:inline-block;
  }
  /*****#####Let's talk about Container Style******######*/
  .lets-talk-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
/*****#######Sm Screen Style######*******/
@media only screen and (min-width : 768px) and (max-width : 991px){
  /*****#####Testimonial Container Style******######*/
  .testimonial-content-alignment{
    padding-top: 15px;
    text-align: center;
    transition: all .3s ease-out;
  }


}
